*{
    margin: 0;
    padding: 0;
   
}



.btn{
      text-align: center;
      margin-top: 100px;
      border: 30px;
      border-color: black;
      font-size: 1.5rem;
      padding: 10px 10px;
      margin-top: 250px;
    
    
}
.btn2{
    border: 20px;
    border-color: black;
    font-size: 1.5rem;
    padding-right: 20px;
    background-color: aqua;
    padding: 10px 10px;
    margin-left: 30px;
    
}

.btn1{
    border: 20px;
    border-color: black;
    font-size: 1.5rem;
    padding-right: 20px;
    background-color: aqua;
    padding: 10px 10px;
    margin-right: 30px;
}