/* *{
    margin:0;
    padding:0
}
.table{
    margin-top: 40px;
    padding-right: 200px;
    padding-left: 300px;
 
}

.funcr{
    cursor: pointer;
}
 */

 .crtfun{
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    
 
 }




