body{
    background: url(gem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


div.box1{
    display: block;
    margin-left: 30%;
    margin-bottom: 5%;
    width:500px;
    /* background-color: #ef9656; */
    /* background-color: #DDB771; */
    /* background-color: #073B3A; */
    background: url(hhh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: 1px 2px 3px  #ccc;


    border: 2px #ccc;
    border-radius: 15px;
    padding: 10px 20px 30px;
}

.input-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Adjust the width as needed */
}


input.small-input{
  width: 250px; /* Set the desired width of the input box */
  border-radius: 15px;
  
}


.login{
    text-align:center;
    /* color:#F3F7F0;  */
    color: #fff;
    font-size: 35px;
    font-weight: bolder;
}

button.btnlogin{
 
  background-color: #fff;
  border: none;
  color: #42b72a;
  margin: auto 155px;
  padding: 10px 50px ;
  font-weight: bolder;
  margin-bottom: 15px; 
  font-size: 16px;  
  border-radius: 25px;
  transition: font-size 0.3s ease;
}

button.btnlogin:hover{
  font-size: 20px;

}

.signin {
    background-color: #f1f1f1;
    text-align: center;
    
  }

  a:active{
    color: #1877f2;
  }

  .forbtn{
    color: #fff;
    margin-left: 150px;
    border-radius: 5px;
   
  }

  .createnew{
    background-color: #fff;
    border: none;
    border-radius: 6px;
    color:#e99d67;
    color: #1877f2 ;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    margin-top:10px ;
    margin-left:140px;
    transition: font-size 0.3s ease;
  }

  .createnew:hover{
   color:#42b72a;
   font-size: 20px;
  }
