

body{
  
    
    background: url(img5.jpg);
    background-size:cover;
    width: 100%;
    background-repeat: no-repeat;  
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background-color:skyblue;
    width: 30%;
    margin-left: 36%;
    margin-top: 175px;
    box-shadow: 10px 20px 30px black ;
    border: 12px;
    
}

.container{
    width: 350px;
    padding: 0 15px 0 15px;
   
}

h1{
    color:black;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 1;
}

.input{
    height: 40px;
    width: 125%;
    padding: 0 0 0 45px;
  
    border-radius: 25px;
    margin-right: 10px;
}

.submit{
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-left: 90px;
    width: 70px;
    margin-bottom: 10px;
    background-color:rgb(8, 136, 179);
    color: aliceblue;
    cursor: pointer;
    

}

.input-field{
    margin-right: 90px;
}




