.func{
    text-align: center;
    margin-top: 45px;
}

.form3{
    text-align: center;
    margin-top: 45px;
  font-weight: 700;
    padding: 20px;
    
   
}

.btn4{
  background-color: rgb(8,136,179);
  font-size: 1.5rem;
  margin-top: 10px;
}


